h1 {
  font-weight: 100;
  font-size: 2.5em;
}

.content-text, .extra.content {
  width: 49%;
  display: inline-block;
}

.icon i.icon {
  font-size: 1.4em;
  color: #999999;
}

p.tasks {
  width: fit-content;
  display: inline;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
}